<% if current_user.events.past_events.any? %>
<div class="main-container">
  
      <h2 class="heading">Past events</h2>
    <div class="pagination justify-content-center m-3">
      <%= will_paginate @past_pagination, class: "testing" %>
    </div>
    <div class='card-container'>
      
        <% @past_pagination.each do |event| %>   
         <div class='event-card'>
            <h4 class="title"><%= event.title %></h4>
            <p><%= event.description %></p>
            <p>Location: <%= event.address %></p>
           <p> Date: <%= event.date %></p>
           <p>Organised by: <%= event.creator.username %></p>
         </div>
      <% end %>
        <% else %>
          <h2 class="heading">No upcomming events</h2>
      <% end %>
    </div>
</div>